$menuColor:#ffffff;
$borderColor:#ffffff;
$selectedColor:#3498DB;
$mainColor:#409EFF;
$sidebarWidth: 160px;
$lSidebarWidth:90px;
$mSidebarWidth:150px;
$colorBtnHover:#69c;
$menuHoverColor:#69c;
// 长度单位
$headerTop:50px;
.width80{width: 80px;}.width100{width: 100px;}.width120{width: 120px;}.width140{width: 140px;}.width160{width: 160px;}

.margT6{margin-top: 6px;}.margT8{margin-top: 8px;}.margT20{margin-top: 20px;}
.margL20{margin-left: 20px;}.margL40{margin-left: 40px;}
.margL100{margin-left: 100px;}.margL200{margin-left: 200px;}
.blue{color: #409EFF;}
.green{color: green;}
.inline{
  display: inline-block;
}
.hidden{overflow: hidden;}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}

.ellipsis{
  overflow: hidden;  /*溢出隐藏*/
  text-overflow: ellipsis; /*以省略号...显示*/
  white-space: nowrap;  /*强制不换行*/
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}

@mixin extend() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
// 扩展点击区域
@mixin extend_click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
  }
}
// 修改bootstrap内部样式
.el-table td, .el-table th{
  padding: 5px 0px;
}
.el-breadcrumb{
  height: 40px;
  line-height:42px;
  margin-left: 10px;
}
.wrapper{
  padding:12px 20px;
  background-color: white;
}
// 面包屑导航
.breadcrumbWrapper{
  border: 1px solid #F3F2F2; 
  background-color: #F2F2F2;
  .breadcrumb{
    margin-left: 18px;
    height: 40px;
    line-height: 40px;
  }
  .iconhomestyle{
    float: left;
    font-size: 20px !important;
  }
  .nocurrent{
    color: #9c9c9c;
  }
}
// 分页按钮
.tableBottom{
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}

.dialogModel{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2003;
  width: 400px;
  padding: 10px 20px 20px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius:6px;
  -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
  .header{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #646464;
  }
  .footer{
    margin-top: 24px;
  }
}
// 表格样式
// .tableList {
//   width: 100%;
//   min-width: 1380px;
//   border: 1px solid #e1e6ef;
//   margin-top: 10px;
//   thead {
//     background-color: #e1e6ef;
//     tr th{
//       padding: 12px 8px;
//       text-align: center;
//       &:nth-of-type(2){
//         width: 100px;
//       }
//     }
//   }
//   tbody {
//     background-color: #ffffff;
//     tr{
//       border-top: 1px solid #DDDDDD
//     }
//     tr:hover {
//       background-color: #f1f2f7;
//     }
//     tr td {
//       padding: 8px 8px;
//       text-align: center;
//       line-height: 16px;
//     }
//   }
//   .noData {
//     font-size: 16px;
//     padding: 30px;
//   }
// }
